/* @import "tailwindcss";

:root {
  --background: #ffffff;
  --pink: #af32ae;
  --aqua: #1eb0ea;
  --blue: #171583;
  --dark-blue: #1d2353;
  --orange: #d9a08b;
  --purple: #8638d2;
  --purple: #8638d2;
  --purple-white: #eda9e9;
  --font: 'Geist Sans', -apple-system, BlinkMac;
  --gradient-background: linear-gradient(to right, var(--dark-blue), var(--blue), var(--pink), var(--aqua));
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #000;
  }
}

body {
  background: var(--gradient-background);
  color: var(--foreground);
  font-family: var(--font);
} */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --pink: #af32ae;
  --aqua: #1eb0ea;
  --blue: #171583;
  --dark-blue: #1d2353;
  --orange: #d9a08b;
  --purple: #8638d2;
  --purple-white: #eda9e9;
  --font: 'Geist Sans', -apple-system, BlinkMac;
  --gradient-background: linear-gradient(to right, var(--dark-blue) 0%, var(--blue) 35%, var(--pink) 100%);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #000;
  }
}

body {
  background: var(--gradient-background);
  color: var(--foreground);
  font-family: var(--font);
}