.landing {
    background-image: url('../../../public/landing.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

@media screen and (max-width:768px) {
    .landing {
        background-image: none;
        background: var(--gradient-background);
    }
}