.landing {
    background-image: url('../../../public/landing.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

@media screen and (max-width:768px) {
    .landing {
        background-image: none;
        background: var(--gradient-background);
    }

    .landing .text  {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .landing .text p {
        width: 400px;
    }
}